body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #0a0a23;
  height: 100vh;
}
#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding: 20px;
  margin: 10px 0;
}

#pali-card {
  width: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  border-radius: 10px;
  padding: 20px;
  margin: 10px 0;
  box-shadow: 0 6px 6px #002ead;
}

#pal-def {
  width: 450px;
  font-size: 1.3rem;
  min-height: 140px;
  background-color: #00471b;
  margin-top: 20px;
  padding: 10px;
  border-radius: 20px;
  display: flex;
  align-items: baseline;
  justify-content: center;
  color: white;
}
